# Mini Curso de Python e Pandas
## Tratar dados e criando automação

#### Imports

In [1]:
import pandas as pd

#### Importando base de dados

In [2]:
tabela_vendas = pd.read_excel('Vendas.xlsx')
pd.set_option('display.max_columns', None)
tabela_vendas.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

#### Filtrando tabelas

In [5]:
# Faturamento por loja
faturamento = tabela_vendas[['ID Loja', 'Valor Final']].groupby(['ID Loja']).sum()
faturamento.head()

                            Valor Final
ID Loja
Bourbon Shopping SP             1726110
Center Shopping Uberlândia      1668921
Iguatemi Campinas               1762419
Iguatemi Esplanada              1699681
Norte Shopping                  1711968

In [7]:
# Quantidade de produtos vendidos por loja
quantidade = tabela_vendas[['ID Loja', 'Quantidade']].groupby('ID Loja').sum()
quantidade.head()

                            Quantidade
ID Loja
Bourbon Shopping SP               8863
Center Shopping Uberlândia        8627
Iguatemi Campinas                 8935
Iguatemi Esplanada                8580
Norte Shopping                    9014

In [11]:
# ticket medio por produto em cada loja
ticket_medio = (faturamento['Valor Final'] / quantidade['Quantidade']).to_frame()
ticket_medio

                                           0
ID Loja
Bourbon Shopping SP               194.754598
Center Shopping Uberlândia        193.453228
Iguatemi Campinas                 197.248909
Iguatemi Esplanada                198.098019
Norte Shopping                    189.923231
Novo Shopping Ribeirão Preto      191.775226
Palladium Shopping Curitiba       189.321307
Parque Dom Pedro Shopping         194.519552
Passei das Águas Shopping         191.345324
Ribeirão Shopping                 193.441586
Rio Mar Recife                    194.377299
Rio Mar Shopping Fortaleza        190.044758
Salvador Shopping                 189.323868
Shopping Barra                    191.375666
Shopping Center Interlagos        189.105014
Shopping Center Leste Aricanduva  188.282614
Shopping Eldorado                 189.025232
Shopping Ibirapuera               187.442394
Shopping Iguatemi Fortaleza       194.092479
Shopping Midway Mall              193.814404
Shopping Morumbi                  186.464974
Shopping Recife                   189.357767
Shopping SP Market                192.871401
Shopping União de Osasco          190.580756
Shopping Vila Velha               187.680724